body {
    text-align: center;
    width:680px;
    margin-left :auto;
    margin-right:auto;
    font-family :Calibri;
    position:relative;
}
  

a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}


header
{
    background-color:lightblue;
    width:680px;
    position:relative;
}


nav
{
    background-color :antiquewhite;
    width:680px;
    position:relative;
    padding-bottom :5px;
    padding-top:5px;
}


article
{
    background-color :lightgrey;
    width:450px;
    height:200px;
    position:relative;
}


section
{
    background-color :aliceblue;
    width:450px;
    height:50px;
    position:relative;
    margin-bottom:1em;
}


aside
{
    background-color:lightcyan;
    width:230px;
    height:200px;
    left:450px;
    top:-200px;
    position :relative;

}


footer
{
    background-color :lightblue;
    width:680px;
    position:relative;
    top:-200px;
}


ul li
{
    display: inline;
    margin-left:1em;

}
