body {
    text-align: center;
    width:680px;
    margin-left :auto;
    margin-right:auto;
    font-family :Calibri;
}


a:link
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}


header
{
    background-color:lightblue;
    width:680px;
}


nav
{
    background-color :antiquewhite;
    width:680px;
}


article
{
    background-color :lightgrey;
    width:450px;
}


section
{
    background-color :aliceblue;
    width:450px;
}


aside
{
    background-color:lightcyan;
    width:210px;
}


footer
{
    background-color :lightblue;
    width:680px;
}

